{% extends "base.html" %}

{% block title %}Анфиса для друзей. Каталог мороженого{% endblock %}

{% block content %}
  <h1>Каталог мороженого</h1>

  <ul>
    {% for item in ice_creams %}
      <li>
        <!-- Ссылка на детальную страницу -->
        <h3><a href="{% url 'ice_cream:ice_cream_detail' item.id %}">{{ item.title }}</a></h3>
        
        <!-- ОБРЕЗКА: показываем максимум 10 слов -->
        <p>{{ item.description|truncatewords:10 }}</p>
      </li>
      
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
