{% extends "base.html" %}

{% block title %}Анфиса для друзей. Каталог мороженого{% endblock %}

{% block content %}
  <h1>Каталог мороженого</h1>

  <ul>
    {% for item in ice_creams %}
      <li>
        <!-- Ссылка ведёт на ice_cream:ice_cream_detail, передавая item.id как pk -->
        <h3><a href="{% url 'ice_cream:ice_cream_detail' item.id %}">{{ item.title }}</a></h3>
        <p>{{ item.description }}</p>
      </li>
      
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
