<header style="padding: 20px; border-bottom: 1px solid #ccc;">
    <h1>Анфиса для друзей</h1>
    
    <nav>
      <!-- Ссылка на главную: namespace:homepage + name:index -->
      <a href="{% url 'homepage:index' %}">Главная</a> | 
      
      <!-- Ссылка на О проекте: namespace:about + name:description -->
      <a href="{% url 'about:description' %}">О проекте</a> | 
      
      <!-- Ссылка на Каталог: namespace:ice_cream + name:ice_cream_list -->
      <a href="{% url 'ice_cream:ice_cream_list' %}">Каталог мороженого</a>
    </nav>
  </header>
  