{% load static %}  <!-- Тоже нужно здесь, так как мы используем {% static %} -->

<header style="padding: 20px; border-bottom: 1px solid #eee;">
  <div class="d-flex align-items-center">
    <!-- Логотип: путь относительно static_dev -->
    <img src="{% static 'img/logo.png' %}" alt="Логотип Анфиса" class="me-3" style="height: 50px;">
    
    <div>
      <h1>Анфиса для друзей</h1>
      
      <nav>
        <a href="{% url 'homepage:index' %}" class="me-3">Главная</a>
        <a href="{% url 'about:description' %}" class="me-3">О проекте</a>
        <a href="{% url 'ice_cream:ice_cream_list' %}" class="me-3">Каталог мороженого</a>
      </nav>
    </div>
  </div>
</header>
